.list-group
        if categories.length > 0
                each category in categories
                        a(href=`/categories/${category.id}`).list-group-item #{category.name}                     