<!doctype html>
html(lang="en")

    head
   
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css")   
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css")
        link(rel="stylesheet" href="/css/style.css")
        title Add Product

    body

        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
            .container
                a(href="/").navbar-brand Shopping
                ul.navbar-nav.ml-auto
                    li.nav-item
                        a.nav-link(href="") Login
                    
                    li.nav-item
                        a.nav-link(href="") Register               

        .container.pt-100
            .row
                .col-lg-3
                    .list-group
                        a(href="").list-group-item Category 1
                        a(href="").list-group-item Category 2
                        a(href="").list-group-item Category 3
                   
                .col-lg-9

                    form(action="/admin/add-product" method="POST")
                        .form-group.row
                            label(for="productName").col-sm-2.col-form-label Name
                            .col-sm-10
                                input.form-control#productName(type="text" name="productName")  

                        .form-group.row
                            .col-sm-10.offset-sm-2
                                input(type="submit" value="Save Product").btn.btn-primary   
           

            script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
            script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js") 
            script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js") 
