<!doctype html>
html(lang="en")

    head
   
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css")   
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css")
        link(rel="stylesheet" href="/css/style.css")
        title Add Product

    body

        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
            .container
                a(href="/").navbar-brand Shopping
                ul.navbar-nav.ml-auto
                    li.nav-item
                        a.nav-link(href="") Login
                    
                    li.nav-item
                        a.nav-link(href="") Register               

        .container.pt-100
            .row
                .col-lg-3
                    .list-group
                        a(href="").list-group-item Category 1
                        a(href="").list-group-item Category 2
                        a(href="").list-group-item Category 3
                   
                .col-lg-9

                    #mySlider.carousel.slide(data-ride="carousel")

                        ol.carousel-indicators
                            li(data-target="#mySlider" data-slide-to="0").active
                            li(data-target="#mySlider" data-slide-to="1")
                            li(data-target="#mySlider" data-slide-to="2")
                    
                        .carousel-inner
                            .carousel-item.active
                                img(src="/img/slider1.png" alt="").d-block.img-fluid
                        
                            .carousel-item
                                img(src="/img/slider2.png" alt="").d-block.img-fluid
                            
                            .carousel-item
                                img(src="/img/slider3.png" alt="").d-block.img-fluid

                    
                        a(href="#mySlider"  data-slide="prev").carousel-control-prev
                            span.carousel-control-prev-icon
                        
                        a(href="#mySlider"  data-slide="next").carousel-control-next
                        span.carousel-control-next-icon

              

                    .row
                        .col-md-4

                            .card.my-3
                                img(src="/img/1.jpg" alt="").card-img-top
                                .card-body
                                    h4.card-title
                                        a(href="#") Product Name
                                    
                                    p.card-text.pt-2 Lorem ipsum dolor sit.  
                                
                                .card-footer
                                    small.text-muted
                                        i.fas.fa-lira-sign 100

                                    a(href="#").btn.btn-secondary.btn-sm.float-right
                                        i.fa.fa-angle-double-right Details 

                        .col-md-4

                            .card.my-3
                                img(src="/img/2.jpg" alt="").card-img-top
                                .card-body
                                    h4.card-title
                                        a(href="#") Product Name
                                    
                                    p.card-text.pt-2 Lorem ipsum dolor sit.  
                                
                                .card-footer
                                    small.text-muted
                                        i.fas.fa-lira-sign 100

                                    a(href="#").btn.btn-secondary.btn-sm.float-right
                                        i.fa.fa-angle-double-right Details    

                        .col-md-4

                            .card.my-3
                                img(src="/img/3.jpg" alt="").card-img-top
                                .card-body
                                    h4.card-title
                                        a(href="#") Product Name
                                    
                                    p.card-text.pt-2 Lorem ipsum dolor sit.  
                                
                                .card-footer
                                    small.text-muted
                                        i.fas.fa-lira-sign 100

                                    a(href="#").btn.btn-secondary.btn-sm.float-right
                                        i.fa.fa-angle-double-right Details 


                        .col-md-4

                            .card.my-3
                                img(src="/img/4.jpg" alt="").card-img-top
                                .card-body
                                    h4.card-title
                                        a(href="#") Product Name
                                    
                                    p.card-text.pt-2 Lorem ipsum dolor sit.  
                                
                                .card-footer
                                    small.text-muted
                                        i.fas.fa-lira-sign 100

                                    a(href="#").btn.btn-secondary.btn-sm.float-right
                                        i.fa.fa-angle-double-right Details              

            script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
            script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js") 
            script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js") 
