extends ../layouts/main-layout.pug

block styles
    link(rel="stylesheet" href="/css/forms.css")

block content
    form(action="/register" method="POST")

        .form-group.row
            label(for="email").col-sm-2.col-form-label Email
            .col-sm-5
                input.form-control#email(type="text" name="email")
                
        .form-group.row
            .col-sm-5.offset-sm-2
                input(type="submit" value="Submit").btn.btn-primary   
           
