<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
        crossorigin="anonymous">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">

    <title>Hello, world!</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a href="/" class="navbar-brand">Shopping</a>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Register</a>
                </li>
            </ul>

        </div>
    </nav>

    <div class="container pt-100">
        <div class="row">
            <div class="col-lg-3">
                <div class="list-group">
                    <a href="" class="list-group-item">Category 1</a>
                    <a href="" class="list-group-item">Category 2</a>
                    <a href="" class="list-group-item">Category 3</a>
                </div>
            </div>
            <div class="col-lg-9">
                <div id="mySlider" class="carousel slide" data-ride="carousel">

                    <ol class="carousel-indicators">
                        <li data-target="mySlide" data-slide-to="0" class="active"></li>
                        <li data-target="mySlide" data-slide-to="1"></li>
                        <li data-target="mySlide" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/img/slider1.png" alt="" class="d-block img-fluid">
                        </div>
                        <div class="carousel-item">
                            <img src="/img/slider2.png" alt="" class="d-block img-fluid">
                        </div>
                        <div class="carousel-item">
                            <img src="/img/slider3.png" alt="" class="d-block img-fluid">
                        </div>

                    </div>
                    <a href="#mySlider" class="carousel-control-prev" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a href="#mySlider" class="carousel-control-next" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>

                <div class="row">
                    <div class="col-md-4">

                        <div class="card my-3">
                            <img src="/img/1.jpg" alt="" class="card-img-top">
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="#">Product Name</a>
                                </h4>
                                <p class="card-text pt-2">
                                    Lorem ipsum dolor sit.
                                </p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">
                                    <i class="fas fa-lira-sign"></i>
                                    100
                                </small>
                                <a href="#" class="btn btn-secondary btn-sm float-right">
                                    <i class="fa fa-angle-double-right"></i>
                                    Details
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4">

                        <div class="card my-3">
                            <img src="/img/2.jpg" alt="" class="card-img-top">
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="#">Product Name</a>
                                </h4>
                                <p class="card-text pt-2">
                                    Lorem ipsum dolor sit.
                                </p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">
                                    <i class="fas fa-lira-sign"></i>
                                    100
                                </small>
                                <a href="#" class="btn btn-secondary btn-sm float-right">
                                    <i class="fa fa-angle-double-right"></i>
                                    Details
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4">

                        <div class="card my-3">
                            <img src="/img/3.jpg" alt="" class="card-img-top">
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="#">Product Name</a>
                                </h4>
                                <p class="card-text pt-2">
                                    Lorem ipsum dolor sit.
                                </p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">
                                    <i class="fas fa-lira-sign"></i>
                                    100
                                </small>
                                <a href="#" class="btn btn-secondary btn-sm float-right">
                                    <i class="fa fa-angle-double-right"></i>
                                    Details
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4">

                        <div class="card my-3">
                            <img src="/img/4.jpg" alt="" class="card-img-top">
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="#">Product Name</a>
                                </h4>
                                <p class="card-text pt-2">
                                    Lorem ipsum dolor sit.
                                </p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">
                                    <i class="fa fa-try"></i>
                                    100
                                </small>
                                <a href="#" class="btn btn-secondary btn-sm float-right">
                                    <i class="fa fa-angle-double-right"></i>
                                    Details
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
</body>

</html>