<!doctype html>
html(lang="en")

    include ../includes/head

    body

        include ../includes/navbar          

        .container.pt-100.mb-5            
            block content           

        include ../includes/script
