head
   
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css")   
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css")
        link(rel="stylesheet" href="/css/style.css")
        link(rel="stylesheet" href="/css/forms.css")
        block styles
        title #{title}