extends ../layouts/main-layout.pug

include ../mixins/createProduct.pug

block content

    .row
        .col-md-3
            include ../includes/menu.pug

        .col-md-9

            include ../includes/slider.pug
            
            .row
                if products.length > 0
                    each product in products
                        +createProduct(product)
                else
                    h1 No Products